quotekg-jsonload-master/examples/
quotekg-jsonload-master/complete/
quotekg-jsonload-master/withQuotes/
Xenv/
jsons/
jsons_0/
env2/
corpus/
CompleteQuotes/
CompleteQuotes2/
intermediate/
old/
protobuf/
py-googletrans/
v1/
v1_final/
v2/
v2_final/
env/