intermediate/
CompleteQuotes/
CompleteQuotes2/
corpus/
corpus_0/
env/
env2/
Xenv/
old/
protobuf/
py-googletrans/
v1/
v1_final/
v2/
v2_final/
__pycache__/
jsons/
jsons_0/

/intermediate
/CompleteQuotes
/CompleteQuotes2
/corpus
/corpus_0
/env
/env2
/Xenv
/old
/protobuf
/py-googletrans
/v1
/v1_final
/v2
/v2_final
/__pycache__