intermediate/
CompleteQuotes/
CompleteQuotes2/
corpus/
corpus_0/
env/
env2/
Xenv/
old/
protobuf/
py-googletrans/
v1/
v1_final/
v2/
v2_final/
__pycache__/
jsons/
/jsons
jsons_0/
/jsons_0
test/
full_dict/
dictionaries/
sameas-all-wikis.csv
wikiquote_to_wikidata.tsv


/intermediate
/CompleteQuotes
/CompleteQuotes2
/corpus
/corpus_0
/env
/env2
/Xenv
/old
/protobuf
/py-googletrans
/v1
/v1_final
/v2
/v2_final
/__pycache__
corpus_current/
/corpus_current
/corpus_
corpus_/
/old_v2_final
